#include <windows.h>
#include <commctrl.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
DLG_MAIN DIALOGEX 0, 0, 280, 230
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TiDaojiGUI"
FONT 9, "Segoe UI"
BEGIN
    RTEXT           "PID:", -1, 6, 8, 22, 10
    EDITTEXT        IDC_EDT_PID, 30, 6, 48, 12, ES_NUMBER
    RTEXT           "Driver:", -1, 84, 8, 32, 10
    EDITTEXT        IDC_EDT_DRIVER, 118, 6, 90, 12

    PUSHBUTTON      "&Hide", IDC_BTN_HIDE, 216, 6, 56, 14
    PUSHBUTTON      "&Unhide", IDC_BTN_UNHIDE, 216, 24, 56, 14
    PUSHBUTTON      "Unhide &All", IDC_BTN_UNHIDEALL, 216, 42, 56, 14
    PUSHBUTTON      "Soft&Unload", IDC_BTN_SOFTUNLOAD, 216, 60, 56, 14
    PUSHBUTTON      "S&tatus", IDC_BTN_STATUS, 216, 78, 56, 14
    PUSHBUTTON      "Select A&ll", IDC_BTN_SELALL, 216, 104, 56, 14
    PUSHBUTTON      "Select &None", IDC_BTN_SELNONE, 216, 122, 56, 14

    GROUPBOX        "Hide Options (Type)", -1, 6, 24, 200, 178
    AUTOCHECKBOX    "ProcessDebugFlags", IDC_CHK_PROCESSDEBUGFLAGS, 14, 38, 180, 10
    AUTOCHECKBOX    "ProcessDebugPort", IDC_CHK_PROCESSDEBUGPORT, 14, 50, 180, 10
    AUTOCHECKBOX    "ProcessDebugObjectHandle", IDC_CHK_PROCESSDEBUGOBJECTHANDLE, 14, 62, 180, 10
    AUTOCHECKBOX    "DebugObject", IDC_CHK_DEBUGOBJECT, 14, 74, 180, 10
    AUTOCHECKBOX    "SystemDebuggerInformation", IDC_CHK_SYSTEMDEBUGGERINFORMATION, 14, 86, 180, 10
    AUTOCHECKBOX    "NtClose", IDC_CHK_NTCLOSE, 14, 98, 180, 10
    AUTOCHECKBOX    "ThreadHideFromDebugger", IDC_CHK_THREADHIDEFROMDEBUGGER, 14, 110, 180, 10
    AUTOCHECKBOX    "NtGetContextThread", IDC_CHK_NTGETCONTEXTTHREAD, 14, 122, 180, 10
    AUTOCHECKBOX    "NtSetContextThread", IDC_CHK_NTSETCONTEXTTHREAD, 14, 134, 180, 10
    AUTOCHECKBOX    "NtSystemDebugControl", IDC_CHK_NTSYSTEMDEBUGCONTROL, 14, 146, 180, 10
    AUTOCHECKBOX    "SystemFirmwareVMScrub", IDC_CHK_NTSYSTEMVMINFORMATION, 14, 158, 180, 10
    AUTOCHECKBOX    "NtTerminateProcess (VMP kill)", IDC_CHK_NTTERMINATEPROCESS, 14, 170, 180, 10

    LTEXT           "Status: -", IDC_LBL_STATUS, 6, 210, 268, 14
END
