#include <windows.h>
#include "resource.h"

IDD_SETTINGS DIALOGEX 0, 0, 220, 230
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TiDaoji Settings"
FONT 8, "Segoe UI"
BEGIN
    LTEXT           "", IDC_LBL_PID, 8, 6, 200, 10

    GROUPBOX        "Hide Options", -1, 4, 20, 212, 168

    AUTOCHECKBOX    "ProcessDebugFlags", IDC_CHK_PROCESSDEBUGFLAGS, 12, 32, 120, 10
    AUTOCHECKBOX    "ProcessDebugPort", IDC_CHK_PROCESSDEBUGPORT, 12, 44, 120, 10
    AUTOCHECKBOX    "ProcessDebugObjectHandle", IDC_CHK_PROCESSDEBUGOBJECTHANDLE, 12, 56, 120, 10
    AUTOCHECKBOX    "DebugObject", IDC_CHK_DEBUGOBJECT, 12, 68, 120, 10
    AUTOCHECKBOX    "SystemDebuggerInformation", IDC_CHK_SYSTEMDEBUGGERINFO, 12, 80, 120, 10
    AUTOCHECKBOX    "NtClose", IDC_CHK_NTCLOSE, 12, 92, 120, 10
    AUTOCHECKBOX    "ThreadHideFromDebugger", IDC_CHK_THREADHIDEFROMDBG, 12, 104, 120, 10
    AUTOCHECKBOX    "NtGetContextThread", IDC_CHK_NTGETCONTEXTTHREAD, 12, 116, 120, 10
    AUTOCHECKBOX    "NtSetContextThread", IDC_CHK_NTSETCONTEXTTHREAD, 12, 128, 120, 10
    AUTOCHECKBOX    "NtSystemDebugControl", IDC_CHK_NTSYSTEMDEBUGCONTROL, 12, 140, 120, 10
    AUTOCHECKBOX    "SystemFirmwareVMScrub", IDC_CHK_NTSYSTEMVMINFO, 12, 152, 120, 10
    AUTOCHECKBOX    "NtTerminateProcess (VMP kill)", IDC_CHK_NTTERMINATEPROCESS, 12, 164, 140, 10

    PUSHBUTTON      "Select &All", IDC_BTN_SELALL, 4, 194, 52, 14
    PUSHBUTTON      "Select &None", IDC_BTN_SELNONE, 60, 194, 52, 14
    DEFPUSHBUTTON   "&Apply && Hide", IDC_BTN_APPLY, 140, 194, 76, 14
    PUSHBUTTON      "Close", IDCANCEL, 140, 212, 76, 14
END
