#include <windows.h>
#include "resource.h"

IDD_SETTINGS DIALOGEX 0, 0, 240, 268
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TiDaoji Settings"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "", IDC_LBL_PID, 8, 6, 224, 10
    LTEXT           "Driver:", -1, 8, 20, 32, 10
    EDITTEXT        IDC_EDT_DRIVER, 44, 18, 100, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "Probe", IDC_BTN_PROBE, 152, 17, 40, 14
    LTEXT           "", IDC_LBL_DEVICE, 8, 34, 224, 10

    GROUPBOX        "Hide Options", -1, 4, 48, 232, 168

    AUTOCHECKBOX    "ProcessDebugFlags", IDC_CHK_PROCESSDEBUGFLAGS, 12, 60, 200, 10
    AUTOCHECKBOX    "ProcessDebugPort", IDC_CHK_PROCESSDEBUGPORT, 12, 72, 200, 10
    AUTOCHECKBOX    "ProcessDebugObjectHandle", IDC_CHK_PROCESSDEBUGOBJECTHANDLE, 12, 84, 200, 10
    AUTOCHECKBOX    "DebugObject", IDC_CHK_DEBUGOBJECT, 12, 96, 200, 10
    AUTOCHECKBOX    "SystemDebuggerInformation", IDC_CHK_SYSTEMDEBUGGERINFO, 12, 108, 200, 10
    AUTOCHECKBOX    "NtClose", IDC_CHK_NTCLOSE, 12, 120, 200, 10
    AUTOCHECKBOX    "ThreadHideFromDebugger", IDC_CHK_THREADHIDEFROMDBG, 12, 132, 200, 10
    AUTOCHECKBOX    "NtGetContextThread", IDC_CHK_NTGETCONTEXTTHREAD, 12, 144, 200, 10
    AUTOCHECKBOX    "NtSetContextThread", IDC_CHK_NTSETCONTEXTTHREAD, 12, 156, 200, 10
    AUTOCHECKBOX    "NtSystemDebugControl", IDC_CHK_NTSYSTEMDEBUGCONTROL, 12, 168, 200, 10
    AUTOCHECKBOX    "SystemFirmwareVMScrub", IDC_CHK_NTSYSTEMVMINFO, 12, 180, 200, 10
    AUTOCHECKBOX    "NtTerminateProcess (VMP kill)", IDC_CHK_NTTERMINATEPROCESS, 12, 192, 210, 10

    PUSHBUTTON      "Select &All", IDC_BTN_SELALL, 4, 224, 52, 14
    PUSHBUTTON      "Select &None", IDC_BTN_SELNONE, 60, 224, 52, 14
    DEFPUSHBUTTON   "&Apply && Hide", IDC_BTN_APPLY, 148, 224, 88, 14
    PUSHBUTTON      "Soft&Unload", IDC_BTN_SOFTUNLOAD, 4, 244, 72, 14
    PUSHBUTTON      "Close", IDCANCEL, 148, 244, 88, 14
END
